html{
    background-image: url("../images/hachi.png");
    background-size: cover;
    padding-top:0px ;
    padding-bottom: 20px;
}
.column {
    padding: 3px;
  }
  
body{
    width: 500px;
    margin: 0 auto;
    background-color: aquamarine;
    padding: 0 50px 200px 50px;
    border: 100px rgb(59, 194, 118);
}
    
h1{
    text-shadow: 3px 3px 1px black;
    text-align: center;
    font-size: 60px;
    color: #ed6905;  
    -webkit-text-stroke: 1px #000000;
    font-family:'Kodchasan', sans-serif;  
}
h2{
    text-align: center;
    font-size: 10px;
    font-family: 'Kodchasan', sans-serif;
}

h3{
    font-size: 13px;
    color: #ff5900;
    font-family: 'Kodchasan', sans-serif;
}
.dotborder{
    
    display: grid;
    padding: 5px;
    border: 4px dotted red;
    margin: 5px;
    
}
p,ul{
    font-size: 15px;
    font-family: 'Kodchasan', sans-serif;
}

img{
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    width:100%;
}

